.form {
  position: relative;
  z-index: 2;

  width: 436px;
  margin: 0 auto;

  &__inner {
    padding: 60px 0 0 0;
  }

  &__item {
    position: relative;
  }

  &__fieldset {
    position: relative;

    display: block;

    width: 100%;
  }

  &__label {
    display: block;

    color: #595891;
    text-shadow: rgb(255, 255, 255) 2px 2px 3px;

    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 70px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__input {
    display: inline-block;

    width: 280px;
    height: 35px;
    margin-right: 20px;
    padding: 0 0 0 12px;

    color: #595891;
    border: 2px solid #595891;
    background-color: #dfecf3fe;

    font-size: 18px;

    &::placeholder {
      color: #595891;
    }
  }

  &__btn {
    display: inline-block;

    width: 115px;
    height: 35px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: #ffffff;
    border: none;
    border-radius: 100px;
    background: #595891 radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,0.2), rgba(0,0,0,0));
    box-shadow: inset rgba(0,0,0,0.6) 0 -2px 5px, inset rgba(252,255,255,0.7) 0 2px 5px, rgba(0,0,0,0.8) 0 2px 5px -1px;
    text-shadow: 0 1px rgba(255,255,255,0.2), 0 -1px rgba(0,0,0,0.8);

    font-size: 20px;
    line-height: 15px;

    &:hover {
      cursor: pointer;

      color: rgb(128,207,214);
    }
    &:active {
      padding-bottom: 1px;

      color: rgb(109, 154, 161);
      box-shadow: inset rgba(0,0,0,1) 0 1px 3px,
      inset rgba(0,0,0,0.6) 0 -2px 5px,
      inset rgba(252,255,255,0.7) 0 2px 5px,
      0 1px rgba(255,255,255,0.08);
    }
  }
}
