.header {
  position: relative;
  z-index: 2;

  width: 100%;

  &__inner {
    width: 100%;
    padding: 60px 0 0 0;

    text-align: center;
  }

  &__logo {
    position: relative;
  }

  &__logo-text {
    text-transform: uppercase;

    color: #88b9d3fe;
    text-shadow: rgb(59, 59, 59) 4px 4px 5px;

    font-family: "Roboto", sans-serif;
    font-size: 100px;
    font-weight: 700;
  }

  &__logo-text--orange {
    color: #e8403c;
  }
}
