.main-desc {
  position: relative;
  z-index: 2;

  width: 100%;

  &__inner {
    position: relative;

    padding: 84px 0 0 0;
  }

  &__title {
    display: flex;
    justify-content: center;

    width: 100%;
    margin: 0 auto;
  }
  &__title-img {
    position: relative;

    width: 100px;
    margin-right: 40px;
  }

  &__title-text {
    position: relative;

    margin-right: 40px;

    color: #ffffff;
    text-shadow: rgb(59, 59, 59) 4px 4px 5px;

    font-family: "Open Sans", sans-serif;
    font-size: 76px;
    font-weight: 700;
  }

  &__title-degree {
    position: relative;

    color: #ffffff;
    text-shadow: rgb(59, 59, 59) 4px 4px 5px;

    font-family: "Open Sans", sans-serif;
    font-size: 76px;
    font-weight: 700;

    &::before {
      position: relative;

      display: inline-block;

      width: 70px;
      height: 66px;

      content: "";

      background-image: url("../img/attempt.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__item {
    display: flex;
    justify-content: center;

    margin-top: 20px;
  }


  &__item-text {
    color: #595891;
    text-shadow: rgb(255, 255, 255) 2px 2px 1px;

    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight: 700;
  }
}



@media (min-width: 769px) and (max-width: 882px) {
  .main-desc {
    &__title-text {
      font-size: 66px;
    }

    &__title-degree {
      font-size: 66px;

      &::before {
        height: 64px;
      }
    }

    &__item-text {
      font-size: 52px;
    }
  }
}

@media (min-width: 599px) and (max-width: 768px) {
  .main-desc {
    &__inner {
      padding-top: 60px;
    }

    &__title {
      align-items: center;
      flex-direction: column;
    }
    &__title-img {
      margin: 0;
      margin-bottom: 10px;
    }

    &__title-text {
      margin-right: 0;
      margin-bottom: 40px;

      font-size: 56px;
    }

    &__item-text {
      margin-top: 20px;
      margin-bottom: 40px;

      font-size: 46px;
    }
  }
}


@media (max-width: 598px) {
  .main-desc {
    &__inner {
      display: flex;
      flex-direction: column;

      padding-top: 60px;
    }

    &__title {
      align-items: center;
      flex-direction: column;
    }
    &__title-img {
      margin: 0;
    }

    &__title-text {
      margin-right: 0;
      margin-bottom: 40px;

      font-size: 56px;
    }

    &__item-text {
      margin-bottom: 40px;

      font-size: 46px;
    }

    &__item {
      margin-top: 40px;
    }
  }
}
