.main-desc {
  position: relative;
  z-index: 2;

  width: 100%;

  &__inner {
    position: relative;

    padding: 84px 0 0 0;
  }

  &__title {
    display: flex;
    justify-content: center;

    width: 100%;
    margin: 0 auto;
  }
  &__title-img {
    position: relative;

    width: 100px;
    margin-right: 40px;
  }

  &__title-text {
    position: relative;

    margin-right: 40px;

    color: #ffffff;
    text-shadow: rgb(59, 59, 59) 4px 4px 5px;

    font-family: "Open Sans", sans-serif;
    font-size: 76px;
    font-weight: 700;
  }

  &__title-degree {
    position: relative;

    color: #ffffff;
    text-shadow: rgb(59, 59, 59) 4px 4px 5px;

    font-family: "Open Sans", sans-serif;
    font-size: 76px;
    font-weight: 700;

    &::before {
      position: relative;

      display: inline-block;

      width: 70px;
      height: 66px;

      content: "";

      background-image: url("../img/attempt.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__list {
    display: flex;
    justify-content: center;

    margin-top: 20px;
  }


  &__item-text {
    color: #595891;
    text-shadow: rgb(255, 255, 255) 2px 2px 1px;

    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight: 700;
  }
}
