/* wrapper */

.page {
  position: relative;
  background: url(../img/img-bg.jpg) no-repeat;
  background-size: cover;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}



