@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/roboto-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/opensans-regular.woff2") format("woff2");
}
